<div class="inicio__container">
    <div class="grid-container">
        <div class="info">
            <h1>Are you looking for Freelancers?</h1>
            <p>Hire Great Freelancers, Fast Spacelance helps you hire elite Freelancers at a moments notice</p>

            <div class="search">
                <button class="button" mat-button>Hire a freelancer</button>
                <input type="text" value="search freelance work">
            </div>
        </div>
        <div class="image">
            <img src="../../../assets/images/Working remotely.png" alt="">
            <div class="container"></div>
        </div>
    </div>
</div>

<div class="Web prueba">

</div>






