<!-- <div class="con"></div> -->

<mat-card class="card__container">
    <div class="card__info--posicion">
        <div class="card__icon ">
            <img src="../../../assets/images/iconosSVG/create-acount.png" alt="">                  
        </div>
        <h2 class="card__title">Create Account</h2>
        <p class="card__info">First you have to create a account here</p>
    </div>
    <div class="card__info--posicion">
        <div class="card__icon">
            <img src="../../../assets/images/iconosSVG/search-work.png" alt="">  
        </div>
        <h2 class="card__title">Search Work</h2>
        <p class="card__info">Search the best freelance work here</p>
    </div>
    <div class="card__info--posicion">
        <div class="card__icon">
            <img src="../../../assets/images/iconosSVG/save-and-apply.png" alt="">             
        </div>
        <h2 class="card__title">Save and Apply</h2>
        <p class="card__info">Apply or save and start your work</p>
    </div>
</mat-card>