<!-- <div class="con"></div> -->

<mat-card class="card__container">
    <div class="card__info--posicion">
        <div class="card__icon "></div>
        <h2 class="card__title">Create Account</h2>
        <p class="card__info">First you have to create a account here</p>
    </div>
    <div class="card__info--posicion">
        <div class="card__icon"></div>
        <h2 class="card__title">Create Account</h2>
        <p class="card__info">First you have to create a account here</p>
    </div>
    <div class="card__info--posicion">
        <div class="card__icon"></div>
        <h2 class="card__title">Create Account</h2>
        <p class="card__info">First you have to create a account here</p>
    </div>
</mat-card>