.footer__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0px auto;
}

.info__footer {
    width: 100%;
    min-width: 350px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


ul li {
    list-style: none;
}

.footer__info {
    width: 312px;
    margin-bottom: 40px;
}

.footer__info img {
    width: 100%;
    min-width: 300px;
    max-width: 315px;
    height: 68px;
    margin-bottom: -15px;
}

.footer__info p {
    width: 312px;
    height: 81px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #252525;
}


.footer__info ul {
    display: flex;
    width: 138px;
    height: 30px;
    justify-content: space-between;
    margin-top: 20px;
}

ul {
    margin: 0px;
    padding: 0px;
}

.footer__info ul li svg {
    color: #252525;
    width: 23.42px;
    height: 23.42;
}

.style-text {
    margin-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    line-height: 36px;
    color: #252525;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    margin: 0px;
    padding: 0PX;
    margin-bottom: 24px;
}

p {
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
    padding: 0PX;
}

.footer__for-clients {
    width: 152px;
    margin-bottom: 50px;

}

.footer__for-freelancers {
    width: 184px;
    max-height: 200px;
}

.footer__call-us {
    width: 250px;
}

.footer__call--ul {
    display: flex;
}

.footer__call--ul ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__call--icon {
    margin-right: 15px;
    align-content: center;
}

.footer__call--ul ul {
    height: 135px;
}


.footer {
    position: absolute;
    bottom: -101px;
    margin-top: 30px;
    margin-bottom: 22px;
    color: #9D9D9D;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 67px;
}

@media all and (min-width: 1250px) {
    .footer__container {
        width: 100%;
        height: 486px;
    }

    .info__footer {
        width: 1284px;
        padding-left: 30px;
        padding-top: 133px;
    }


    .footer__for-freelancers {
        height: 115px;
        padding-left: 0px;
    }

    .footer__for-clients {
        margin-bottom: 0px;
        height: 169px;
    }

    .footer {
      
        bottom: 0px;

    }

}