<div class="container">
    <div class="info__container">
        <div class="info ">
            <p class="info__mp">The latest freelance work!</p>
            <h2 class="info__mp">Recently Posted <span>Works</span></h2>
        </div>
        <div class="arrows__container info__mp">
            <div class="arrow"></div>
            <div class="arrow"></div>
        </div>
    </div>
    <div class="card__container">
        <mat-card class="card">
            <mat-card-header>
                <img src="../../../assets/images/Material Ui.png" alt="">
            </mat-card-header>
            <mat-card-content>
                <mat-card-title>Logo Desgin</mat-card-title>
                <p>Need a professional logo with writhing underneath for our jewellery company</p>
            </mat-card-content>
            <mat-card-actions>
                <p>Highest bid $500</p>
                <a href="#">Apply now</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-header>
                <img src="../../../assets/images/Canva App.png" alt="">
            </mat-card-header>
            <mat-card-content>
                <mat-card-title>Graphic Design</mat-card-title>
                <p>We need a graphic designer with UI/UX skills for our Furniture company</p>
            </mat-card-content>
            <mat-card-actions>
                <p>Highest bid $500</p>
                <a href="#">Apply now</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-header>
                <img src="../../../assets/images/Account.png" alt="">
            </mat-card-header>
            <mat-card-content>
                <mat-card-title class="card-title__2">Need a SEO</mat-card-title>
                <p>Need a SEO for our company who will let our company to a higher level</p>
            </mat-card-content>
            <mat-card-actions>
                <p>Highest bid $300</p>
                <a href="#">Apply now</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<!-- 
<div class="card">
    <div class="card__logo"></div>
    <h2>Logo Desgin</h2>
   
    <div>
        <p>Highest bid $500</p>
        <a href="#">Apply now</a>
    </div>
</div>
<div class="card"></div>
<div class="card"></div> -->