<div class="container">
    <div class="info__container">
        <div class="info ">
            <p class="info__mp">The latest freelance work!</p>
            <h2 class="info__mp">Recently Posted <span>Works</span></h2>
        </div>
        <div class="arrows__container info__mp">
            <div class="arrow" (mouseover)="hover()" (mouseout)='noHover()'>
                <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path [ngClass]="{'fill': !hoverActive, 'fillHover': hoverActive}" d="M25.8749 10.125H5.81916L13.097 2.84714L11.1528 0.902893L0.555664 11.5L11.1528 22.0971L13.097 20.1529L5.81916 12.875H25.8749V10.125Z" />
                </svg>                  
            </div>
            <div class="arrow" (mouseover)="hoverR()" (mouseout)='noHoverR()'>
                <svg width="26" height="23" viewBox="0 0 26 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path [ngClass]="{'fill': !hoverActiveR, 'fillHover': hoverActiveR}" d="M0.125086 10.125H20.1808L12.903 2.84714L14.8472 0.902893L25.4443 11.5L14.8472 22.0971L12.903 20.1529L20.1808 12.875H0.125086V10.125Z" />
                    <!-- <path d="M0.125086 10.125H20.1808L12.903 2.84714L14.8472 0.902893L25.4443 11.5L14.8472 22.0971L12.903 20.1529L20.1808 12.875H0.125086V10.125Z" fill="#1E88E5"* ngIf="hoverActive"/> -->
                </svg>                    
            </div>
        </div>
    </div>
    <div class="card__container">
        <mat-card class="card">
            <mat-card-header>
                <img src="../../../assets/images/Material Ui.png" alt="">
            </mat-card-header>
            <mat-card-content>
                <mat-card-title>Logo Desgin</mat-card-title>
                <p>Need a professional logo with writhing underneath for our jewellery company</p>
            </mat-card-content>
            <mat-card-actions>
                <p>Highest bid $500</p>
                <a href="#">Apply now</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-header>
                <img src="../../../assets/images/Canva App.png" alt="">
            </mat-card-header>
            <mat-card-content>
                <mat-card-title>Graphic Design</mat-card-title>
                <p>We need a graphic designer with UI/UX skills for our Furniture company</p>
            </mat-card-content>
            <mat-card-actions>
                <p>Highest bid $500</p>
                <a href="#">Apply now</a>
            </mat-card-actions>
        </mat-card>

        <mat-card class="card">
            <mat-card-header>
                <img src="../../../assets/images/Account.png" alt="">
            </mat-card-header>
            <mat-card-content>
                <mat-card-title class="card-title__2">Need a SEO</mat-card-title>
                <p>Need a SEO for our company who will let our company to a higher level</p>
            </mat-card-content>
            <mat-card-actions>
                <p>Highest bid $300</p>
                <a href="#">Apply now</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<!-- 
<div class="card">
    <div class="card__logo"></div>
    <h2>Logo Desgin</h2>
   
    <div>
        <p>Highest bid $500</p>
        <a href="#">Apply now</a>
    </div>
</div>
<div class="card"></div>
<div class="card"></div> -->