<div class="category__container">
    <h2>Choose Different <span>Category</span></h2>
    <div class="categories">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Graphic&Design</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img src="../../../assets/images/caterory-image/graphic&Design.png" alt="">
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Cartoon Animation</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img src="../../../assets/images/caterory-image/cartoon-animation.png" alt="">
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Illustration</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img src="../../../assets/images/caterory-image/illlustration.png" alt="">
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Flyers & Vouchers</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img src="../../../assets/images/caterory-image/flyers-vouchers.png" alt="">
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Logo Design</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img src="../../../assets/images/caterory-image/logo-design.png" alt="">
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Social Graphics</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img src="../../../assets/images/caterory-image/social-graphic.png" alt="">
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Article Writing</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img src="../../../assets/images/caterory-image/Article-writin.png" alt="">
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Video Editing</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <img src="../../../assets/images/caterory-image/video-editin.png" alt="">
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div class="more__categorie-button">
    <button>More Categories</button>
</div>