<div class="portfolio__container">

  <div class="porfolio__info">
    <p>Logos, websites, book covers & more!</p>
    <h2>Checkout The Best <span>Portfolios</span> Here</h2>
  </div>


  <div class="card__container">
    <mat-card>
      <img src="../../../assets/images/portfolio-image/bunny.png">
      <mat-card-content>
        <div>
          <h2>Bunny.design</h2>
          <p>UI/UX Designer</p>
        </div>
        <div class="arrow"><img src="../../../assets/images/portfolio-image/Vector.png"></div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img src="../../../assets/images/portfolio-image/grhapicDesing.png">
      <mat-card-content>
        <div>
          <h2>Bhaskar Tiwari</h2>
          <p>Graphic Designer</p>
        </div>
        <div class="arrow"><img src="../../../assets/images/portfolio-image/Vector.png"></div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <img src="../../../assets/images/portfolio-image/grhapicDesing.png">
      <mat-card-content>
        <div>
          <h2>Aksara Joshi</h2>
          <p>Graphic Designer</p>
        </div>
        <div class="arrow"><img src="../../../assets/images/portfolio-image/Vector.png"></div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="line__content">
    <div class="line__1"></div>
    <div class="line__2"></div>
    <div class="line__2"></div>
  </div>
</div>