<div class="portfolio__container">
      <div class="porfolio__info">
        <p>Logos, websites, book covers & more!</p>
         <h2>Checkout The Best <span>Portfolios</span> Here</h2>
      </div>
        

      <div class="card__container">
         <mat-card>
              <img src="" >
              <mat-card-container>
                <div>
                   <h2>Bunny.design<h2/>
                   <p>UI/UX Designer<p/>
                <div/>
                <div class="arrow"></div>             
              </mat-card-container>
          </mat-card>

          <mat-card>
              <img src="" >
              <mat-card-container>
                <div>
                  <h2>Bhaskar Tiwari<h2/>
                  <p>Graphic Designer<p/>
                <div/>
                <div class="arrow"></div>     
              </mat-card-container>
          </mat-card>

          <mat-card>
              <img src="" >
              <mat-card-container>
                <div>
                  <h2>Aksara Joshi<h2/>
                  <p>Graphic Designer<p/>
                <div/>
                <div class="arrow"></div>     
              </mat-card-container>
          </mat-card>

      <div/>
</div>

< class=""></>
<></>