<div class="fondo">
</div>

<div class="container">
    <div class="nav">
        <app-nav></app-nav>
    </div>
    <div class="inicio">
        <app-inicio></app-inicio>
    </div>
    <div class="card">
        <app-card></app-card>
    </div>
    <div class="find-the-best">
        <app-find-the-best></app-find-the-best>
    </div>
    <div class="recenttly-posted">
        <app-recently-posted></app-recently-posted>
    </div>
    <div>
        <app-category></app-category>
    </div>
</div>