.container {
    max-width: 1512px;
    border: solid 1px red;
    margin: 0 auto;
}

.fondo {
    background-image: url("../assets/images/FondoInicio.png") ;
    height: 981px;
    background-repeat: no-repeat;

}

.nav {
    margin-top: 51px;
}

.inicio {
    margin-top: 119px;
}

.card {
    margin-top: 112px;
}