.fondo {
    background-image: url("../assets/images/FondoInicio.png") ;
    width: 100%;
    min-width: 350px;
    min-height: 953px;
    max-height: 953px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.container {
    max-width: 1512px;
    margin: 0 auto;
    padding-top: 51px;
    position: relative;
}

.inicio {
    margin-top: 119px;
}

.card {
    /* margin-top: 113px; */
    margin-bottom: 176px;
}

.recenttly-posted {
    margin-top: 176px;
    margin-bottom: 176px;
}

.portfolio {
    margin-top: 186px;
    margin-bottom: 168px;
}

@media all and (max-width: 1314px) { 
    .container {
       padding-left: 15px;
       padding-right: 15px;
      }
 }

