<mat-toolbar color="primary" class="nav--container">

    <img class="nav--logo" src="../../../assets/images/logo.png" alt="Logo">

    
    <div class="info__container">
        <button href="#" class="iconM" (click)="mostrarMenu()">
            <fa-icon [icon]="iconMenu"></fa-icon>
        </button>
        <ul class="nav--menu" [ngClass]="{'ul__menu-active': menuStatus}">
            <li><a href="#">Home</a></li>
            <li><a href="#">Find work</a></li>
            <li><a href="#">Find Freelancers</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Sing Up</a></li>
        </ul>
      <a class="nav__end" href="#">Post a project</a>
    </div>

</mat-toolbar>