.nav--container {
    position: absolute;
    left: 108px;
    top: 51px;
    background-color:#fff;
    border-radius: 50px;
    max-width: 1295px;
    /* min-width: 1295px; */
    height: 82px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.nav--menu ul{
    display: flex;
    justify-content: space-between;
    margin-right: 45px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    color: #252525;
    opacity: 0.7;
}

.nav--logo {
    padding-left: 20px;
}

.container {
    width: 119px;
    height: 119px;
    background-color: #252525;
    position: absolute;
    top: 133px;
    left: 200px;
}