<mat-toolbar color="primary" class="nav--container">
    <div class="nav--logo">
        <img src="../../../assets/images/logo.png" alt="Logo">
    </div>
    <div class="nav--menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Find work</a></li>
            <li><a href="#">Find Freelancers</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="#">Sing Up</a></li>
            <li><a href="#">Post a project</a></li>
        </ul>
    </div>
</mat-toolbar>
