mat-toolbar {
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.nav--container {
    background-color: #fff;
    border-radius: 50px;
    width: 90%;
    min-width: 350px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


ul {
    list-style: none;
    position: absolute;
    top: 75px;
    right: 150% ;
    width: 100%;
    height: calc(100% -60px);
    background-color: #1E88E5;
    text-align: center;
    /* display: none; */
    transition: 0.5s;
}

.ul__menu-active {
    /* display: block; */
    transition: 0.5s;
    right: 0px;

}

ul li a {
    text-decoration: none;
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
    color: #fff;
    opacity: 0.7;
}

ul li :hover {
    color: #1E88E5;
    opacity: 0.9;
}

.nav--logo {
    padding-left: 20px;
    height: 45px;
}

.iconM {
    color: #1E88E5;
    font-size: 30px;
    margin-right: 35px;
    background-color: none;
    top: 2px;
    outline: none;
    border: none;
    background-color: #fff;
}


@media all and (min-width: 950px) {
    .iconM {
        display: none;
    }

    .nav--container {
        height: 82px;
        max-width: 1295px;
    }

    .info__container {
        display: flex;
    }

    ul {
        position: static;
        background-color: rgba(255, 255, 255, 0);
        display: flex;
        justify-content: end;
    }

    ul li a {
        font-size: 20px;
        line-height: 30px;
        margin-right: 35px;
        color: #252525;
    }

     ul {
        display: flex;
        align-items: center;
    }

    .nav__end {
        width: 200px;

        height: 52px;
        background-color: #1E88E5;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 10px;
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #fff;
    }

  

    .nav__end:hover a {
        color: #fff;
        opacity: 1;
    }
    .nav__end-text :hover {
        color: #fff;
        opacity: 1;
    }

 
}

@media all and (min-width: 1240px) { 
    .nav--menu ul{
        margin-left: 0px;
    }
    .nav__end {
        margin-left: 26px;
        margin-right: 25px;
        width: 250px;

    }


}   

 
@media all and (max-width: 1154px) { 
    .nav__end {
        display: none;
    }
    
}
