/* You can add global styles to this file, and also import other style files */
html {
    font-family: 'Poppins', sans-serif;
}
* {
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}

@media  all and (min-width: 600px){
    body { 
        height: 100%;   
        width: 100%;
       
    }
}
