<div class="the-best__container">
    <div class="image">
        <img src="../../../assets/images/girl-price.png" alt="">
        <div class="price__container price__500">
            <span class="price">500+</span>
            <span class="price__info">freelancers</span>
        </div>
        <div class="price__container price__300">
            <span class="price">300+</span>
            <span class="price__info">freelancer work Posted</span>
        </div>
    </div>
    <div class="info__container">
        <h2>Find The Best <span>Freelancers</span> Here</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia eveniet quia quaerat cumque possimus debitis aliquam minima maxime porro corporis velit quibusdam beatae commodi natus cum, voluptatem quae quo dignissimos. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi quae voluptates a.
        </p>
    </div>
</div>
